<div class="row center">
    <div class="col-12" style="margin-top: 4em;">
        <h2>{{_.credit.title}}</h2>
    </div>
</div>
<div class="row center" style="margin-top: 4em;">
    <div class="col-6">
        <p class="title">{{_.credit.developer}}</p>
        <p class="content">Loquicom</p>
    </div>
    <div class="col-6">
        <p class="title">{{_.credit.tester}}</p>
        <p class="content">
            Mirios <br>
            KamiKnight <br>
            Milkiway
        </p>
    </div>
</div>
<div class="row" style="margin-top: 2em;">
    <div class="col-12 center">
        <p class="title">{{_.credit.link}}</p>
        <p class="content">
            <a href="https://github.com/Loquicom/Wikipath" target="_browser">{{_.credit.github.client}}</a>
        </p>
        <p class="content">
            <a href="https://github.com/Loquicom/Wikipath-Server" target="_browser" style="padding-top: 1em;">{{_.credit.github.server}}</a>
        </p>
    </div>
</div>
<div id="footer">
    <div class="row center">
        <div class="col-12">
            <button type="button" class="nes-btn is-primary" onclick="menu()">{{_.common.go.menu}}</button>
        </div>
    </div>
</div>

<button type="button" class="nes-btn is-error return-btn" onclick="back()"><-</button>