
<div class="row">
    <div class="col-12 center" style="margin-top: 6em;">
        <h1>Wikipath</h1>
    </div>
</div>
<div class="row" style="margin-top: 8em;">
    <div class="col-2"></div>
    <div class="col-8 center">
        <div class="nes-field">
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" class="nes-input">
        </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row" style="margin-top: 5em;">
    <div class="col-2"></div>
        <div class="col-4 center">
            <button type="button" class="nes-btn is-disabled" disabled>&nbsp;{{_.menu.host}}&nbsp;</button>
        </div>
        <div class="col-4 center">
            <button type="button" class="nes-btn is-primary" onclick="join()">&nbsp;{{_.menu.join}}&nbsp;</button>
        </div>
    <div class="col-2"></div>
</div>
<div class="row" style="margin-top: 3em;">
    <div class="col-12 center">
        <button type="button" class="nes-btn is-warning" onclick="option()">&nbsp;{{_.menu.option}}&nbsp;</button>
    </div>
</div>

<!-- Quit button -->
<button type="button" class="nes-btn is-error quit-btn" onclick="quit()">X</button>