
<div class="row">
    <div class="col-12 center" style="margin-top: 6em;">
        <h1>Wikipath</h1>
    </div>
</div>
<div class="row" style="margin-top: 10em;">
    <div class="col-1"></div>
    <div class="col-6 center">
        <div class="nes-field">
            <label for="pseudo">{{_.join.code}}</label>
            <input type="text" id="code" class="nes-input">
        </div>
    </div>
    <div class="col-4 center">
        <button type="button" class="nes-btn is-primary" style="margin-top: 2em;" onclick="join()">&nbsp;{{_.join.connect}}&nbsp;</button>
    </div>
    <div class="col-1"></div>
</div>

<!-- Return button -->
<button type="button" class="nes-btn is-error return-btn" onclick="back()"><-</button>